<%= form_for [@post, Comment.new], :remote => true do |f| %>
  <p>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <%= f.hidden_field :commenter, :value => current_user.id if current_user %>
    <%= f.text_area :body,  :placeholder => "Add comment here........" %>
  </p>
  <p><%= f.submit "Add comment" %></p> 
<% end %>